@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #EFE4CE;
    color: #021B2E;
    font-size: 16px;
}

a{
    text-decoration: none;
}
*{
    
    font-family: "Monsterrat", sans-serif;
    font-style: normal;
    font-weight: 600;
}

h1{
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 3.5rem;
}
h2{
    text-align: center;
    font-size: 3rem;
    font-family: "Playfair Display";
    margin-top: 0rem;
}

h3{
    font-size: 1.8rem;
    font-family: "Playfair Display";
    font-weight: 1000;
}

h4{
    font-size: 1.3rem;
    font-family: "Playfair Display";
    font-weight: 800;
}

h5{
    text-align: center;
    color: #FFAF42;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

nav{
    background-color: #021B2E;
    color: #F9F9EF;
    width: 90%;
    margin: auto;
    margin-top: 2.5rem;
    max-width: 1800px;
    padding: 0.9rem 2rem;
    display: flex;
    border-radius: 3rem 3rem;
}

.logo{
    font-family: "Playfair Display";
    font-weight: 800;
    height: fit-content;
}

nav>a{
    color: #12BA9C;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    
}
nav>ul a{
    color: #F9F9EF;
    text-decoration: none;
}

header{
    width: 95%;
    margin: auto;
    max-width: 1800px;
    height: 80vh;
    display: flex;
}

header a{
    color: #021B2E;
}

header div{
    width: 40%;
}

header img{
    width: 60%;
    
}


.orange{
    background-color: #FF5710;
    color: #EFE4CE;
}

.teal{
    background-color: #12BA9C;
    color: #EFE4CE;
}

.button{
    padding: 0.9rem 1.5rem;
    text-decoration: none;
    border-radius: 1.5rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    background-color: #FAF9EF;
    border-radius: 1rem 1rem;
}

.card-horizontal{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.card-vertical{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 25%;
}

.card-vertical img{
    height: 200px;
}
section{
    width: 95%;
    max-width: 1800px;
    margin: auto;

}


.booking form{
    display: flex;
    gap: 0.5rem;
}
.booking input{
    background-color: #EFE4CE;
    border-color: #ADA6A2;
    border-style: solid;
    border-width: 1.5px;
    padding: 1rem 1.3rem;
    border-radius: 1rem;

}

.booking input[type="submit"]{
    background-color: #12BA9C;
    border-style: none;
    color: #EFE4CE;
}

.label-input{
    display: flex;
    flex-direction: column;
}


.cards-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap:wrap;
    justify-content: center;

}

.customers h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.customers div{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid red;
    
}

.customers article{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid blue;
    align-items: center;
}


.customers img{
    height: 10rem;
    float: left;
}


article span{
    color: #cbc6b8;
    border: 2px solid orange;
    padding: 0px;
}

article h4{
    font-size: 2rem;
    border: 2px solid yellow;
}